<footer class="footer bg-dark text-light mt-4 pt-3">
    <div class="container text-center">
        <div class="row d-flex justify-content-center align-items-center gap-3 gap-md-0">
            <!-- Logo -->
            <div class="col-md-4 mb-3">
                <div class=" h-100 align-middle">
                    <h1 class="display-6 fs-3 m-0 fs_contenido">
                        Alquimia
                        <span class="text-white fs_slogans">
                            Culinaria
                        </span>
                    </h1>
                </div>
            </div>
            <!-- Redes Sociales -->
            <div class="col-md-4 mb-3  h-100 d-flex flex-column align-items-center">
                <h5 class="fs_subtitulo fw-bold">Síguenos en:</h5>
                <div class="social-icons d-flex gap-3">
                    <a href="https://facebook.com" target="_blank" class="text-light mr-3" title="Facebook">
                        <i class="bi bi-facebook icono"></i>
                    </a>
                    <a href="https://facebook.com" target="_blank" class="text-light mr-3" title="Facebook">
                        <i class="bi bi-whatsapp icono"></i>
                    </a>
                    <a href="https://facebook.com" target="_blank" class="text-light mr-3" title="Facebook">
                        <i class="bi bi-linkedin icono"></i>
                    </a>
                    <a href="https://facebook.com" target="_blank" class="text-light mr-3" title="Facebook">
                        <i class="bi bi-instagram icono"></i>
                    </a>
                </div>
            </div>
            <!-- Información de Contacto -->
            <div class="col-md-4 mb-3">
                <h5 class="fs_subtitulo fw-bold">Contacto</h5>
                <p class="fs_contenido">
                    <i class="bi bi-geo-alt-fill">
                        Calle Ejemplo 123, Ciudad, País
                    </i> 
                </p>
                <p class="fs_contenido">
                    <i class="bi bi-telephone-fill">
                        (123) 456-7890
                    </i>
                </p>
                <p class="fs_contenido">
                    <i class="bi bi-envelope-at-fill">
                        {{correo}}
                    </i>
                </p>
            </div>
        </div>
        <div class="mt-4">
            <p class="m-0">&copy; 2024 Alquimia Culinaria. Todos los derechos reservados Angel Perez Dev.</p>
        </div>
    </div>
</footer>
