<nav class="container-fluid fondo-nabvar navbar navbar-expand-lg p-lg-0 z-3">
    <div class="container nav navbar p-0 px-2 p-lg-0 d-flex justify-content-between align-items-center">
        <div class=" align-middle">
            <h1 class="display-6 fs-3 m-0 fs_contenido">
                Alquimia
                <span class="text-white fs_slogans">
                    Culinaria
                </span>
            </h1>
        </div>
        <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar" #barra_navegacion>
            <ul class="navbar-nav nav gap-lg-3 p-0">
                <li *ngFor="let opcion of lista_direcciones">
                    <a 
                        *ngIf="opcion.nombre === 'Contacto'; else otherLinks"
                        (click)="scrollToBottom()"
                        class="nav-link fs-5 color-letra fw-bold fs_subtitulo contacto"
                    >
                        {{opcion.nombre}}
                    </a>
                    <ng-template #otherLinks>
                        <a 
                            [routerLink]="opcion.direccion"
                            class="nav-link fs-5 color-letra fw-bold fs_subtitulo"
                        >
                            {{opcion.nombre}}
                        </a>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
</nav>

