<div class="container-fluid p-0">
    <div class="contenedor_header">
        <div class="contenedor_img_header">
            <img  class="d-block " [src]="img_header" alt="">
        </div>
        <div class="position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
            <div class="position-relative w-100 d-flex flex-column justify-content-center align-items-center">
                <h2 class="w-75 text-center display-5 fondo_slogans p-4 rounded-3 fs_titulo">
                    Donde cada plato es un poema y cada bocado una historia por descubrir
                </h2>
            </div>
        </div>
    </div>

    <div class="">
        <app-especialidades/>
    </div>


    <div class="container-fluid mt-5 contenedor_cuadricula_padre_general">
        <div class="p-0 m-0 py-5 contenedor_cuadricula_padre">
            <div class="d-none d-md-flex w-50 contenedor_imagen_calidad">
                <img class="w-100 h-100 m-0 p-0"
                src="https://images.pexels.com/photos/4253320/pexels-photo-4253320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
            <div class="contenedor_cuadricula_derecha">
                <div class="">
                    <div class="contenedor_texto_calidad">
                        <h3>
                            {{titulo_calidad}}
                        </h3>
                        <span>
                            {{descripcion_calidad}}
                        </span>
                    </div>
                </div>
                <div class="contenedor_cuadricula">
                    <div *ngFor="let imagen of lista_imagenes_calidad"
                    class="contenedor_imagen position-relative">
                        <img class="img_cuadricula" [src]="imagen" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="w-100 parallax">
        <div class="container d-flex">
            <div class="d-flex flex-column justify-content-center gap-2 w-75">
                <h2 class="text-white">
                    Quienes somos
                </h2>
                <h4 class="text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sequi est repellendus fugit, sit ipsam!
                </h4>
                <p class="text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, debitis ducimus quo sunt dolore dolorum necessitatibus id maiores molestiae asperiores quis ipsa, numquam earum incidunt repellendus enim? Eaque, quisquam culpa?
                </p>
            </div>
            <div class="py-4 ">
                <img class="h-100 sombra_foto"
                src="https://images.pexels.com/photos/2102934/pexels-photo-2102934.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>

        </div>
    </div>
</div>

