<div class="container-fluid p-0">
    <div class="contenedor_header">
        <div class="contenedor_img_header">
            <img  class="d-block " [src]="img_header" alt="">
        </div>
        <div class="position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
            <div class="position-relative w-100 d-flex flex-column justify-content-center align-items-center">
                <h2 class="w-75 text-center display-5 fondo_slogans p-4 rounded-3 fs_titulo">
                    Donde cada plato es un poema y cada bocado una historia por descubrir
                </h2>
            </div>
        </div>
    </div>

    <div class="">
        <app-especialidades/>
    </div>

    <div class="container-fluid mt-5">
        <div class="p-0 m-0 contenedor_cuadricula_padre">
            <img class="w-100 m-0 p-0"
            src="https://images.pexels.com/photos/4253320/pexels-photo-4253320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="contenedor_cuadricula_derecha">
                <div class="">
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam harum delectus quibusdam, veritatis deserunt pariatur explicabo nesciunt temporibus dolorum? Eligendi ut perferendis eius tenetur non aut, laborum illum quam distinctio consequuntur doloremque nemo, molestias quas dolor rem assumenda dicta cumque delectus optio. Itaque, odio? Excepturi ipsam eius modi eligendi vero.
                    </h3>
                </div>
                <div class="contenedor_cuadricula">
                    <div class="contenedor_imagen position-relative">
                        <img class="img_cuadricula" src="https://images.pexels.com/photos/2814829/pexels-photo-2814829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                    </div>
                    <div class="contenedor_imagen position-relative">
                        <img class="img_cuadricula" src="https://images.pexels.com/photos/2814829/pexels-photo-2814829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                    </div>
                    <div class="contenedor_imagen position-relative">
                        <img class="img_cuadricula" src="https://images.pexels.com/photos/2814829/pexels-photo-2814829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

