<div class="container-fluid contenedor_principal">
    <div class=" container flex-md-row mx-auto p-0 mt-4 contenedor">
        <div class="col p-0 d-flex flex-column gap-4 ps-1 py-4 pe-5 aparicion_izquierda">
            <h2 class="fs_subtitulo fw-bold m-0 p-0">
                {{titulo}}
            </h2>
            <h2 *ngIf="nombre_platillo_carrusel !== 'Mejores opciones'; else sin_especialidad" class="fs_subtitulo m-0 p-0">
                Especialidad:
                <span class="fs_slogans text-white nombre_plato">
                    {{nombre_platillo_carrusel}}
                </span>
            </h2>
            <ng-template #sin_especialidad>
            </ng-template>
            <span class="fs_contenido">
                {{descripcion}}
            </span>
            <div class="contenedor_imagenes_iconos">
                <img class="img_icono_especialidades" src="https://www.svgrepo.com/show/429376/food-hor-mok.svg" alt="">
                <img class="img_icono_especialidades" src="https://www.svgrepo.com/show/429377/bibimbub-cooking-food.svg" alt="">
                <img class="img_icono_especialidades" src="https://www.svgrepo.com/show/429378/fish-fishing-food.svg" alt="">
            </div>
            <div class="d-flex justify-content-end">
                <a [routerLink]="['/menu-de-alimentos']" class="btn btn btn-outline-light fs_contenido fw-bolder">Ir al menú</a>
            </div>
        </div>
        <div class="col p-0 mb-4 mb-md-0 aparicion_derecha">
            <app-carrusel [lista]="lista_completa"  (nombre_platillo)="obtener_nombre_platillo($event)"/>
        </div>
    </div>
</div>

