<div class="container-fluid contenedor_principal">
    <div class=" container flex-md-row mx-auto p-0 mt-4 contenedor">
        <div class="col p-0 d-flex flex-column gap-4 p-3">
            <h2>
                En cada plato, una obra de arte que cuenta historias y despierta todos tus sentidos
            </h2>
            <span>
                Descubre una experiencia culinaria única donde cada plato es una obra de arte, contando historias y despertando todos tus sentidos con sabores exquisitos y presentaciones inolvidables.
            </span>
        </div>
        <div class="col p-0">
            <app-carrusel [lista]="lista_completa" [height_imagen]="'400px'"/>
        </div>
    </div>
</div>
