// fuentes
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Open+Sans&family=Roboto&display=swap')
// letra_titulo
.fs_titulo
    font-family: "Montserrat", sans-serif
    font-optical-sizing: auto
    font-weight: 400
    font-style: normal

.fs_subtitulo
    font-family: "Roboto", sans-serif
    font-weight: 400
    font-style: normal

.fs_slogans
    font-family: "Lobster", sans-serif
    font-weight: 400
    font-style: normal

.fs_contenido
    font-family: "Open Sans", sans-serif
    font-optical-sizing: auto
    font-weight: 400
    font-style: normal
    font-variation-settings:"wdth" 100



    
// COLORES
$color-fondo: #ffffff
$color-contenedor-amarillo: #ffcd58
$color-contenedor-amarillo-opaco: #ffcd58af
$color-texto-negro: #010100
$color-texto-gris: #ADA7A7
$color-enfasis-verdoso: #DAD870
$color-contenedor-rojo: #FF5C4D
$color-contenedor-naranja:#FF9636