// fuentes
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Open+Sans&family=Roboto&display=swap')

// letra_titulo
.fs_titulo
    font-family: "Montserrat", sans-serif
    font-optical-sizing: auto
    font-weight: 400
    font-style: normal

.fs_subtitulo
    font-family: "Roboto", sans-serif
    font-weight: 400
    font-style: normal

.fs_slogans
    font-family: "Lobster", sans-serif
    font-weight: 400
    font-style: normal

.fs_contenido
    font-family: "Open Sans", sans-serif
    font-optical-sizing: auto

@media (max-width:576px)
    .fs_titulo
        font-size: 24px
    .fs_subtitulo
        font-size: 18px
    .fs_slogans
        font-size: 20px
    .fs_contenido
        font-size: 14px

@media (min-width:576px)
    .fs_titulo
        font-size: 28px
    .fs_subtitulo
        font-size: 22px
    .fs_slogans
        font-size: 26px
    .fs_contenido
        font-size: 14px

@media (min-width:768px)
    .fs_titulo
        font-size: 32px
    .fs_subtitulo
        font-size: 25px
    .fs_slogans
        font-size: 29px
    .fs_contenido
        font-size: 16px

@media (min-width:992px)
    .fs_titulo
        font-size: 36px
    .fs_subtitulo
        font-size: 28px
    .fs_slogans
        font-size: 32px
    .fs_contenido
        font-size: 18px

@media (min-width:1200px)
    .fs_titulo
        font-size: 38px
    .fs_subtitulo
        font-size: 30px
    .fs_slogans
        font-size: 34px
    .fs_contenido
        font-size: 20px

@media (min-width:1400px)
    .fs_titulo
        font-size: 42px
    .fs_subtitulo
        font-size: 35px
    .fs_slogans
        font-size: 37px
    .fs_contenido
        font-size: 22px
    
// COLORES
$color-fondo: #ffffff
$color-contenedor-amarillo: #ffcd58
$color-contenedor-amarillo-transparente: #ffcd58af
$color-texto-negro: #010100
$color-texto-negro-transparente: #010100a3
$color-texto-gris: #ADA7A7
$color-texto-gris-transparente: #ada7a798
$color-enfasis-verdoso: #DAD870
$color-enfasis-verdoso-transparente: #dad870b1
$color-contenedor-rojo: #FF5C4D
$color-contenedor-rojo-transparente: #ff5c4da6
$color-contenedor-naranja:#FF9636
$color-contenedor-naranja-transparente:#ff97367b

@keyframes aparecer_desde_derecha
    from
        opacity: 0
        transform: translateX(50px)
    to
        opacity: 1
        transform: translateX(0px)

@keyframes aparecer_desde_izquierda
    from
        opacity: 0
        transform: translateX(-50px)
    to
        opacity: 1
        transform: translateX(0px)

@keyframes construir_desde_izquierda
    from
        width: 0
    to
        width: 100%

.aparicion_derecha
    animation-name: aparecer_desde_derecha
    animation-duration: 2s
    animation-timing-function: ease

.aparicion_izquierda
    animation-name: aparecer_desde_izquierda
    animation-duration: 2s
    animation-timing-function: ease

.construir_izquierda
    view-timeline-name: --image
    view-timeline-axis: block
    animation-timeline: --image
    animation-name: construir_desde_izquierda
    animation-range: entry 20% cover 30%
    animation-fill-mode: both

@keyframes enter
    from
        opacity: 0
        transform: scale(0.9)
    to
        opacity: 1
        transform: scale(1)
@keyframes exit
    from
        opacity: 1
        transform: scale(1)
    to
        opacity: 0
        transform: scale(0)
        
::view-transition-old(elemento) 
    animation: exit 1s ease 0s normal forwards
::view-transition-new(elemento) 
    animation: enter 3s ease 0s 1 normal forwards

.elemento
    view-transition-name: elemento

